---
---

@import "minima";

.post-excerpt {
  margin-top: 0.5em;
  color: #666;
  
  p {
    margin-bottom: 0.5em;
  }
  
  .read-more {
    display: inline-block;
    margin-top: 0.5em;
    color: #2a7ae2;
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-list > li {
  margin-bottom: 2em;
}

.post-navigation {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid #e8e8e8;
  
  .btn-back-to-posts {
    display: inline-block;
    color: #2a7ae2;
    text-decoration: none;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-col-1 {
  width: calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(25% - (#{$spacing-unit} / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
  }
}
